    @charset "UTF-8";
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    

    /*configuração global: todos elementos sem margem e sem padding*/
    * {
      margin: 0px;
      padding:0px;
    }

    body{
      background-color: #83e1ad;
      margin: 0px;
    }      

    header{
      background-image: linear-gradient(to bottom, #3ddc84, #2fa866, #063d1e);
      color: white;
      margin:0px;
      padding:0px;
      padding-top: 30px;
      font-family: 'Bebas Neue', cursive;
      text-align: center;
      text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.457);
      font-weight: bold;
      font-size: 1.5em;                 
    }

    nav{
        margin-top: 25px;
        padding-bottom: 10px;
        text-align: center;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.457);
    }

    nav > a{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 0.75em;
        display:inline;        
        padding: 10px;
        border-radius: 5px;        
    }
    
    a:hover {
      color: green;
      background-color: black;   
    }
    
    a.links-main {
      color:rgb(3, 63, 3);
      text-decoration:none;
      font-weight: bold;
    }

    a.links-main:hover {
      text-decoration: underline;
    }
      
    main{
      background-color: white;
      padding: 20px; 
      border-radius: 10px;
      min-width: 300px;
      max-width: 800px;    
      margin:auto;
      margin-top: 15px;
      font-family: Arial, Helvetica, sans-serif; 
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.506);
    }
    /* responsividade imagens */
    main img{
      width: 100%;
    }

    main img.pequena{
      max-width: 350px;
      display: block;
      margin: auto;
    }

    div.video{
      margin-bottom: 30px;
      margin: 0px -20p 30px -20px;
      padding: 20px;
      position: relative;
      padding-bottom: 59%;
    }

    div.video > iframe{
      position: absolute;
      top:5%;
      left: 0%;
      width: 100%;
      height: 90%;      
    }
       
    h1{
      text-align: center;
      font-family: 'Bebas Neue', cursive;
      text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.457);
    }

    h2{
      font-family: 'Bebas Neue', cursive;
      color:green;
      background-image: linear-gradient(to right, #b0d6c1, transparent) ;
      padding-left: 10px;      
    }

    p{
      text-align: justify;
      text-indent: 30px;
      padding: 10px;
      line-height: 2em;
      font-size: 1em;
    }

    p#topo{
      text-align: center;
    }

    aside{
      background-color: #c5ebd6;
      border-radius: 10px;
      padding: 15px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.506);
            
    }   

    aside > ul{
      list-style-position: inside;
      columns: 2;
    }

    h3{
      background-color: #2fa866;
      color: white;
      margin:-15px -15px 0px -15px;
      padding:10px;
      border-radius: 10px 10px 0px 0px;
      font-family: 'Bebas Neue', cursive;      
    }

    footer {
      background-color: #063d1e;  
      color:white;
      text-align: center;
      padding:4px;
      margin:0px;
      margin-top:15px;
      font-family: 'Bebas Neue', cursive;
      text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.457);
    }
    
    footer > p {
        margin: 0px;
        text-align: center;
    }
